.template-section {
    margin-top: 110px;
    padding: 2rem 4rem;
    background: var(--color-bg);
    text-align: center;
    @media screen and (max-width: 480px) {
        padding: 0 1rem;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            color: var(--color-secondary);
        }
        &__buttons {
            z-index: 1;
            display: flex;
            .swiper-button-prev,
            .swiper-button-next {
                color: var(--color-secondary);
                position: unset;
                height: 32px;
                width: 32px;
                background-color: var(--color-bg-secondary);
                margin: 0;
                margin-right: 10px;
                border-radius: 5px;
                svg {
                    width: 9px;
                    transition: .3s;
                }
                &:hover {
                    svg {
                        width: 10px;
                    }
                }
            }
        }
    }
    .swiper {
        position: relative;
        width: 100%;
        overflow: hidden; // important to clip the pseudo shadow
        // This creates the glow on the right edge
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -6px;
            width: 120px;
            height: 100%;
            pointer-events: none;
            background: linear-gradient(to left, var(--color-bg), transparent);
            ;
            z-index: 5;
        }
    }
    .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            border-radius: 16px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }
        img:hover {
            transform: scale(1.05);
        }
    }
}

.product-section {
    padding: 2rem 4rem;
    background: var(--color-bg);
    @media screen and (max-width: 480px) {
        padding: 0 1rem;
    }
    h2 {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--color-secondary);
    }
    &__products {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        .product {
            position: relative;
            flex: 1 1 calc(25% - 1.5rem);
            max-width: calc(25% - 1.5rem);
            background: var(--color-product);
            border-radius: 8px;
            padding: 1rem;
            transition: transform 0.2s ease, box-shadow 0.2s ease;
            @media (max-width: 992px) {
                flex: 1 1 calc(33.333% - 1.5rem);
                max-width: calc(33.333% - 1.5rem);
            }
            @media (max-width: 768px) {
                flex: 1 1 100%;
                max-width: 100%;
            }
            img {
                max-width: 100%;
                object-fit: cover;
            }
            h3 {
                font-size: 16px;
                color: var(--color-secondary);
                margin: .3rem 0;
            }
            p {
                font-size: 12px;
                color: var(--color-secondary);
            }
            &__bottom {
                display: flex;
                justify-content: space-between;
                margin: .6rem 0;
                span {
                    font-size: 22px;
                    font-weight: bold;
                    color: var(--color-secondary);
                }
                button {
                    padding: 7px 9px;
                    background: var( --btn-background);
                    border-radius: 5px;
                    color: var(--color-bg);
                    transition: .3s;
                    &:hover {
                        transform: scale(1.05);
                    }
                }
                .preOrder {
                    background: #f24602;
                    color: white;
                }
                a {
                    color: #508aff;
                    text-decoration: underline;
                }
            }
            &::after {
                position: absolute;
                content: 'NEW';
                top: 22px;
                right: 22px;
                height: 18px;
                width: 39px;
                border-radius: 3px;
                padding: 2px 8px;
                background: var(--color-alt);
                font-size: 10px;
                color: var(--color-bg);
            }
        }
    }
}

.reviews {
    padding: 2rem 4rem;
    background: var(--color-bg);
    @media screen and (max-width: 480px) {
        padding: 1rem;
    }
    &__main {
        display: flex;
        align-items: center;
    }
    &__title {
        font-size: 1.8rem;
        font-weight: 600;
        margin-bottom: 1.5rem;
        color: var(--color-secondary);
    }
    a {
        color: #508aff;
        text-decoration: underline;
    }
    .reviews__slider {
        position: relative;
    }
    .swiper-wrapper {
        display: flex;
    }
    .tippy-box {
        background-color: #F24602;
        color: #fff;
        text-align: center;
        z-index: 20;
    }
    .tippy-box[data-theme~='tomato'] {
        background-color: #F24602;
    }
    .tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
        border-top-color: #F24602;
    }
    .tippy-box[data-theme~='tomato'][data-placement^='bottom']>.tippy-arrow::before {
        border-bottom-color: #F24602;
    }
    .tippy-box[data-theme~='tomato'][data-placement^='left']>.tippy-arrow::before {
        border-left-color: #F24602;
    }
    .tippy-box[data-theme~='tomato'][data-placement^='right']>.tippy-arrow::before {
        border-right-color: #F24602;
    }
    // .tippy-svg-arrow {
    //     fill: tomato;
    // }
    .review-card {
        background: var(--color-review);
        border-radius: 8px;
        padding: 1.5rem;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
        height: auto;
        &__top {
            display: flex;
            align-items: center;
            font-size: 12px;
            margin-bottom: 1rem;
        }
        &__name {
            font-weight: 500;
            margin-left: 15px;
            color: var(--color-secondary);
        }
        &__avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: var( --btn-background);
        }
        &__text {
            font-size: 14px;
            font-weight: 700;
            line-height: 1.4;
            color: var(--color-secondary);
            margin-bottom: 1rem;
        }
    }
    .review-card__date {
        font-size: 0.8rem;
        color: #888;
    }
    /* Навигация Swiper */
    .swiper-button-prev,
    .swiper-button-next {
        color: var(--color-secondary);
        position: unset;
        height: 32px;
        width: 32px;
        background-color: var(--color-bg-secondary);
        padding: 5px;
        margin: 10px;
        border-radius: 8px;
        svg {
            width: 9px;
            transition: .3s;
        }
        &:hover {
            svg {
                width: 10px;
            }
        }
    }
}

.ai-photo {
    background-color: var(--color-ai);
    color: var(--color-secondary);
    padding: 2rem 4rem;
    @media screen and (max-width: 480px) {
        padding: 1rem;
    }
    &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 20px;
        max-width: 700px;
    }
    &__text {
        font-size: 16px;
        line-height: 1.6;
    }
    @media (max-width: 768px) {
        &__title {
            font-size: 22px;
        }
        &__text {
            font-size: 15px;
        }
    }
}